// General
$headerHeight: 72px;
// Sidebar
$bgSidebar: #424242;
$bgSidebarHeader: #313131;
$bgSidebarFocused: #313131;
$sidebarMainColor: #FFF;
$sidebarLinkColor: rgba(255, 255, 255, 0.6);
$sidebarLinkFocusColor: #FFC107;
$sidebarWidth: 250px;
// Main area
$bgMain: #F5F5F5;
$bgMainDiv: #FFF;
$bgMainLinkFocus: #EEE;
$bgMainInput: #FCFCFC;
$mainBorder: #E0E0E0;
$mainColor: #424242;
$mainLinkColor: rgba(0, 0, 0, 0.4);
$shadowColor: rgba(221, 221, 221, 0.8);
// Object color
$calendarColor: $mainLinkColor;
$twitterColor: #03A9F4;
$positiveColor: #8BC34A;
$neutralColor: #FF9800;
$negativeColor: #F44336;
// Object icon
$positiveIcon: "\f118";
$neutralIcon: "\f11a";
$negativeIcon: "\f119";
$loadingIcon: "\f110";
// Animation
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

// Other
.loading-button {
	color: transparent;
	cursor: default !important;
	position: relative;
	&::after {
		animation: spin 2s linear infinite;
		color: $mainColor;
		content: $loadingIcon;
		font-family: "FontAwesome";
		font-size: 1.2em;
		left: 50%;
		line-height: 20px;
		margin-left: -10px;
		margin-top: -10px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 20px;
	}
}
