@import "variable";
* {
	border-width: 0;
	box-sizing: border-box;
	font-family: "Source Sans Pro", sans-serif;
	margin: 0;
	outline: 0;
	padding: 0;
	text-decoration: none;
	user-select: none;
}

a {
	cursor: pointer;
}

p {
	cursor: default;
}

input {
	user-select: text;
}

#app {
	background-color: $bgMain;
	display: flex;
	flex-flow: row nowrap;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

#sidebar {
	background-color: $bgSidebar;
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
	width: $sidebarWidth;
	z-index: 9;
	a {
		color: $sidebarLinkColor;
		font-size: 0.8em;
		&:hover, &:focus {
			color: $sidebarLinkFocusColor;
		}
	}
	#btn-login {
		background-color: $bgSidebarHeader;
		font-size: 0.8em;
		line-height: $headerHeight;
		text-align: center;
		i {
			margin-right: 8px;
		}
		&.loading {
			@extend .loading-button;
			&::after {
				color: $sidebarLinkColor;
			}
		}
	}
	#user-box {
		align-items: center;
		background-color: $bgSidebarHeader;
		display: flex;
		flex-flow: row nowrap;
		height: $headerHeight;
		min-height: $headerHeight;
		padding: 16px;
		> i {
			color: $sidebarMainColor;
			font-size: 0.9em;
		}
		p {
			color: $sidebarMainColor;
			flex: 1 0;
			font-size: 0.9em;
			font-weight: 600;
			margin: 0 16px;
			overflow: hidden;
			text-overflow: ellipsis;
			span {
				display: block;
				font-size: 0.8em;
				font-weight: 500;
				margin-top: 3px;
			}
		}
	}
	#list-menu {
		align-items: center;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		display: flex;
		flex-flow: row nowrap;
		padding: 16px;
		p {
			color: $sidebarMainColor;
			flex: 1 0;
			font-size: 0.75em;
			font-weight: 600;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	#list-container {
		flex: 1 0;
		height: 100%;
		position: relative;
		.list-item {
			align-items: baseline;
			display: flex;
			flex-flow: row nowrap;
			font-size: 0.75em;
			padding: 10px 16px;
			i {
				margin-right: 16px;
			}
			span {
				flex: 1 0;
				line-height: 1.5em;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			&.selected {
				background-color: $bgSidebarFocused;
				color: $sidebarLinkFocusColor;
				cursor: default;
			}
		}
	}
}

#main {
	display: flex;
	flex: 1 0;
	flex-flow: column nowrap;
	height: 100vh;
	#header {
		align-items: center;
		background-color: $bgMainDiv;
		border-bottom: 1px solid $mainBorder;
		box-shadow: 0 2px 5px $shadowColor;
		display: flex;
		flex-flow: row nowrap;
		min-height: $headerHeight;
		padding: 16px 32px 10px;
		z-index: 8;
		#btn-back {
			border-radius: 4px;
			color: $mainLinkColor;
			display: block;
			font-size: 1em;
			margin-right: 8px;
			padding: 2px;
			width: 25px;
			&:focus, &:hover {
				background-color: $bgMainLinkFocus;
			}
		}
		p {
			color: $mainColor;
			font-size: 1.5em;
			font-weight: 600;
			width: 100%;
		}
		#header-menu {
			display: flex;
			flex-flow: row nowrap;
			a {
				border-radius: 4px;
				color: $mainLinkColor;
				display: block;
				padding: 2px;
				&:not(:last-of-type) {
					margin-right: 8px;
				}
				&:focus, &:hover {
					background-color: $bgMainLinkFocus;
				}
			}
		}
	}
	#content {
		display: flex;
		flex: 1 0;
		flex-flow: column nowrap;
		position: relative;
	}
}

#overlay {
	background-color: rgba(0, 0, 0, 0.2);
	bottom: 0;
	display: flex;
	flex-flow: column nowrap;
	left: 0;
	padding: 32px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	&.loading {
		background-color: transparent;
	}
	#dialog {
		background-color: white;
		box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.5);
		display: flex;
		flex-flow: column nowrap;
		margin: auto;
		max-width: 400px;
		width: 100%;
		&.error {
			#header {
				background-color: $negativeColor;
			}
		}
		#header {
			background-color: $bgSidebar;
			color: white;
			font-size: 1em;
			font-weight: 600;
			padding: 16px;
			text-align: center;
			text-transform: uppercase;
		}
		#content {
			border-bottom: 1px solid $mainBorder;
			padding: 16px;
			p {
				color: $mainColor;
				font-size: 0.9em;
			}
			input {
				background-color: $bgMainInput;
				border: 1px solid $mainBorder;
				cursor: text;
				font-size: 0.9em;
				margin-top: 16px;
				padding: 8px;
				width: 100%;
			}
		}
		#footer {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;
			padding: 8px;
			a {
				color: $mainLinkColor;
				font-size: 0.9em;
				font-weight: 600;
				padding: 8px 16px;
				text-transform: uppercase;
				&#main-button {
					color: $mainColor;
				}
				&:hover, &:focus {
					background-color: $bgMainLinkFocus;
				}
			}
			&.loading {
				a {
					cursor: default !important;
					&:hover, &:focus {
						background-color: transparent;
					}
					&:not(#main-button) {
						display: none;
					}
					&#main-button {
						@extend .loading-button;
						&::after {
							color: $mainColor;
						}
					}
				}
			}
		}
	}
}

#page-empty {
	align-items: flex-end;
	align-self: flex-end;
	display: flex;
	flex: 1 0;
	img {
		max-width: 160px;
	}
}

#page-new-monitor {
	background-color: $bgMainDiv;
	border: 1px solid $mainBorder;
	margin: 32px 32px 0;
	max-width: 800px;
	padding: 8px 0;
	position: relative;
	&::after {
		bottom: -32px;
		content: " ";
		position: absolute;
		top: 100%;
		width: 32px;
	}
	p {
		color: $mainLinkColor;
		font-size: 1.1em;
		font-weight: 600;
		padding: 8px 16px;
		&:not(:first-child) {
			margin-top: 8px;
		}
	}
	.field {
		align-items: center;
		color: $mainColor;
		display: flex;
		flex-flow: row nowrap;
		padding: 8px 16px;
		label {
			display: block;
			font-size: 0.9em;
			margin-right: 16px;
			min-width: 160px;
			white-space: nowrap;
		}
		input {
			background-color: $bgMainInput;
			border: 1px solid $mainBorder;
			cursor: text;
			flex: 1;
			font-size: 0.9em;
			min-width: 0;
			padding: 8px 16px;
			user-select: text;
			width: 100%;
		}
	}
	.field-date {
		@extend .field;
		label:nth-of-type(2) {
			margin: 0;
			min-width: 0;
			padding: 8px 16px;
		}
		input {
			text-align: center;
		}
	}
	.field-button {
		border-top: 1px solid $mainBorder;
		@extend .field;
		justify-content: flex-end;
		margin-bottom: -8px;
		margin-top: 16px;
		a {
			color: $mainLinkColor;
			display: block;
			font-size: 0.9em;
			font-weight: 600;
			margin-right: 8px;
			padding: 8px;
			&.main-button {
				color: $mainColor;
			}
			&:focus, &:hover {
				background-color: $bgMainLinkFocus;
			}
		}
	}
}

#page-fetch {
	align-items: center;
	display: flex;
	flex: 1 0;
	flex-flow: column nowrap;
	justify-content: center;
	padding: 32px;
	width: 100%;
	i {
		color: $mainColor;
		font-size: 4em;
		margin: 0 auto 16px;
	}
	p {
		color: $mainLinkColor;
		font-size: 0.9em;
		margin-bottom: 16px;
		b {
			color: $mainColor;
			font-weight: 600;
		}
	}
	#progress-bar {
		background-color: $bgMainDiv;
		border: 1px solid $mainBorder;
		border-radius: 4px;
		height: 36px;
		margin: 0 auto 16px;
		max-width: 800px;
		position: relative;
		width: 100%;
		#progress {
			background-color: $mainColor;
			border-radius: 4px;
			height: 36px;
			left: 0;
			position: absolute;
		}
	}
	a {
		background-color: $bgMainDiv;
		border: 1px solid $mainBorder;
		border-radius: 4px;
		color: $mainColor;
		display: block;
		font-size: 0.9em;
		font-weight: 600;
		margin: 0 auto;
		margin-bottom: 16px;
		padding: 8px 16px;
		&.loading {
			background-color: $bgMainDiv !important;
			@extend .loading-button;
		}
		&:focus, &:hover {
			background-color: $bgMainLinkFocus;
		}
	}
	#btn-toggle-fetch {
		z-index: 11;
	}
}

#page-monitor {
	padding: 32px;
	.monitor-item {
		background-color: $bgMainDiv;
		border: 1px solid $mainBorder;
		margin-bottom: 32px;
	}
	#summary-box {
		border-bottom-width: 0;
		border-right-width: 0;
		display: flex;
		@extend .monitor-item;
		flex-flow: row wrap;
		div {
			border-bottom: 1px solid $mainBorder;
			border-right: 1px solid $mainBorder;
			color: $mainColor;
			padding: 16px;
			text-align: center;
			@media screen and (max-width: 600px) {
				width: 50%;
			}
			@media screen and (min-width: 601px) and (max-width: 1280px) {
				width: 33.3333%;
			}
			@media screen and (min-width: 1281px) {
				width: 16.6667%;
			}
			i {
				display: block;
				font-size: 1.3em;
				&.fa-calendar, &.fa-calendar-o {
					color: $calendarColor;
					font-size: 1.1em;
				}
				&.fa-twitter {
					color: $twitterColor;
				}
				&.fa-smile-o {
					color: $positiveColor;
				}
				&.fa-meh-o {
					color: $neutralColor;
				}
				&.fa-frown-o {
					color: $negativeColor;
				}
			}
			.value {
				font-size: 1.8em;
				font-weight: 300;
				min-height: 56px;
				overflow: hidden;
				padding: 10px 0;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.label {
				color: $mainLinkColor;
				font-size: 0.8em;
				font-weight: 500;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
	#chart-box {
		@extend .monitor-item;
		#chart {
			max-width: 100%;
		}
	}
	#loading-tweet {
		text-align: center;
		i {
			color: $mainColor;
			font-size: 4em;
		}
	}
	#tweet-box {
		@extend .monitor-item;
		margin-bottom: 0;
		#tweet-filter-box {
			border-bottom: 1px solid $mainBorder;
			display: flex;
			flex-flow: row wrap;
			.filter-link {
				border-radius: 4px;
				color: $mainLinkColor;
				display: block;
				font-size: 0.9em;
				font-weight: 600;
				margin-top: 1px;
				padding: 2px;
				&:focus, &:hover {
					background-color: $bgMainLinkFocus;
					color: $mainColor !important;
				}
			}
			#tweet-filter {
				display: flex;
				flex: 1 0;
				flex-flow: row wrap;
				padding: 16px 16px 0;
				div {
					align-items: center;
					display: flex;
					flex-flow: row nowrap;
					margin-bottom: 16px;
					margin-right: 8px;
					p {
						color: $mainLinkColor;
						font-size: 0.9em;
						&:after {
							content: ":";
							margin-left: 4px;
							margin-right: 8px;
						}
					}
					input {
						background-color: $bgMainInput;
						border: 1px solid $mainBorder;
						color: $mainColor;
						cursor: text;
						font-size: 0.9em;
						padding: 8px 16px;
						text-align: center;
						user-select: text;
						width: 100px;
					}
					a {
						@extend .filter-link;
						i {
							font-size: 1.1em;
						}
					}
					#show-positive.selected {
						color: $positiveColor;
					}
					#show-neutral.selected {
						color: $neutralColor;
					}
					#show-negative.selected {
						color: $negativeColor;
					}
				}
			}
			#tweet-pagination {
				align-items: center;
				background-color: $bgMainDiv;
				border-left: 1px solid $mainBorder;
				display: flex;
				flex-flow: row nowrap;
				flex-shrink: 0;
				justify-content: center;
				padding: 16px;
				a {
					@extend .filter-link;
				}
				p {
					color: $mainColor;
					font-size: 0.9em;
					margin: 0 8px;
					span {
						margin: 0 8px;
					}
				}
			}
		}
		#tweet-list {
			display: flex;
			flex-flow: row wrap;
			margin-bottom: -1px;
			margin-left: -1px;
			.tweet {
				border: solid $mainBorder;
				border-width: 0 0 1px 1px;
				padding: 16px;
				width: 50%;
				@media screen and (max-width: 1000px) {
					width: 100%;
				}
				.tweeter {
					align-items: baseline;
					color: $mainColor;
					display: flex;
					flex-flow: row wrap;
					.name {
						font-size: 1em;
						font-weight: 600;
					}
					.username, .time, .sentiment {
						color: $mainLinkColor;
						font-size: 0.9em;
						margin-left: 4px;
						&::before {
							color: $mainLinkColor !important;
							content: "\00b7";
							margin-right: 4px;
						}
					}
					.sentiment {
						&::after {
							font-family: "FontAwesome";
							margin-left: 4px;
						}
						&.positive {
							color: $positiveColor;
							&::after {
								content: $positiveIcon;
							}
						}
						&.neutral {
							color: $neutralColor;
							&::after {
								content: $neutralIcon;
							}
						}
						&.negative {
							color: $negativeColor;
							&::after {
								content: $negativeIcon;
							}
						}
					}
				}
				.content {
					color: $mainColor;
					font-size: 0.95em;
					line-height: 1.8em;
					margin-bottom: -4px;
					margin-top: 8px;
				}
			}
		}
	}
}

.pika-single {
	border: 1px solid $mainBorder;
	color: $mainColor;
	font-family: "Source Sans Pro";
	z-index: 999;
	&.is-bound {
		box-shadow: 0 0 transparent;
	}
	.pika-lendar {
		.pika-title {
			.pika-label {
				color: $mainColor;
				font-weight: 600;
			}
			.pika-next, .pika-prev {
				color: $mainLinkColor;
				opacity: 0.4;
				&:hover {
					color: $mainColor;
					opacity: 1;
				}
			}
		}
		.pika-table {
			th {
				color: $mainLinkColor;
				font-weight: 600;
			}
			.pika-button {
				background-color: $bgMainDiv;
				text-align: center;
				&:hover {
					background-color: $bgMainLinkFocus;
					color: $mainColor;
				}
			}
			.is-today .pika-button {
				background-color: $bgMainLinkFocus;
				color: $mainColor;
				font-weight: 600;
			}
			.is-selected .pika-button {
				background-color: transparent;
				box-shadow: 0 0 transparent;
				color: $neutralColor;
				font-weight: 600;
			}
		}
	}
}

.ps-scrollbar-y-rail {
	background-color: transparent !important;
}
