<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sentiment Monitor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="/css/pikaday.css">
    <link rel="stylesheet" href="/css/source-sans-pro.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/js/url.js"></script>
    <script src="/js/axios.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/pikaday.js"></script>
    <script src="/js/perfect-scrollbar.js"></script>
    <script src="/js/vue.js"></script>
</head>

<body>
    <div id="app">
        <div id="sidebar">
            <a id="btn-login" v-if="!loggedIn" :class="{loading: account.loading}" @click="login"><i class="fa fa-twitter" aria-hidden="true"></i>Sign in using Twitter</a>
            <div id="user-box" v-else>
                <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                <p>{{account.name}}<span>@{{account.screenName}}</span></p>
                <a @click="logout"><i class="fa fa-fw fa-sign-out" aria-hidden="true"></i></a>
            </div>
            <div id="list-menu">
                <p>Monitor list</p>
                <a v-if="loggedIn" @click="showNewMonitor"><i class="fa fa-fw fa-plus-circle" aria-hidden="true"></i></a>
            </div>
            <div id="list-container" ref="listMonitor">
                <a class="list-item" v-for="item in listMonitor" :class="{selected: item.id === monitor.data.id}" @click="showMonitor(item.id)">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <span>{{item.name}}</span>
                </a>
            </div>
        </div>
        <div id="main">
            <div id="header">
                <a id="btn-back" @click="closeMonitor" v-if="contentType === 'monitor'"><i class="fa fa-fw fa-caret-left" aria-hidden="true"></i></a>
                <p>{{contentTitle}}</p>
                <div id="header-menu" v-if="contentType === 'monitor'">
                    <a @click="showFetchTweet"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i></a>
                    <a @click="deleteMonitor"><i class="fa fa-fw fa-trash" aria-hidden="true"></i></a>
                    <a :href="downloadLink" :download="downloadName"><i class="fa fa-fw fa-download" aria-hidden="true"></i></a>
                </div>
            </div>
            <div id="content" ref="mainContent">
                <div id="page-new-monitor" v-if="contentType === 'new'">
                    <p>Monitor</p>
                    <div class="field">
                        <label>Monitor name</label>
                        <input type="text" tabindex="1" ref="txtMonitorName" v-model.trim="newMonitor.monitorName" />
                    </div>
                    <p>Words</p>
                    <div class="field">
                        <label>All of these words</label>
                        <input type="text" tabindex="2" v-model.trim="newMonitor.allWords" />
                    </div>
                    <div class="field">
                        <label>This exact phrase</label>
                        <input type="text" tabindex="3" v-model.trim="newMonitor.exactPhrase" />
                    </div>
                    <div class="field">
                        <label>Any of these words</label>
                        <input type="text" tabindex="4" v-model.trim="newMonitor.anyWords" />
                    </div>
                    <div class="field">
                        <label>None of these words</label>
                        <input type="text" tabindex="5" v-model.trim="newMonitor.noneWords" />
                    </div>
                    <div class="field">
                        <label>These hashtags</label>
                        <input type="text" tabindex="6" v-model.trim="newMonitor.hashtags" />
                    </div>
                    <p>Dates</p>
                    <div class="field-date">
                        <label>From this date</label>
                        <input type="text" tabindex="10" ref="txtSinceDate" v-model.trim="newMonitor.sinceDate" />
                        <label>to</label>
                        <input type="text" tabindex="11" ref="txtUntilDate" v-model.trim="newMonitor.untilDate" />
                    </div>
                    <div class="field-button">
                        <a tabindex="13" @click="closeNewMonitor" @keyup.enter="closeNewMonitor">Cancel</a>
                        <a class="main-button" tabindex="12" @click="saveNewMonitor" @keyup.enter="saveNewMonitor">Create Monitor</a>
                    </div>
                </div>
                <div id="page-fetch" v-else-if="contentType === 'fetch'">
                    <i class="fa fa-fw" :class="fetchIcon"></i>
                    <p v-html="monitor.fetch.message"></p>
                    <div id="progress-bar" v-if="stillFetching">
                        <div id="progress" :style="{right: fetchProgress + '%'}"></div>
                    </div>
                    <a id="btn-toggle-fetch" v-if="!monitor.fetch.finished" :class="{loading: monitor.fetch.stopping}" @click="toggleFetch">{{toggleFetchCaption}}</a>
                    <a v-if="!stillFetching" @click="showMonitor(monitor.data.id)">Go to monitor</a>
                </div>
                <div id="page-monitor" v-else-if="contentType === 'monitor'">
                    <div id="summary-box">
                        <div>
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            <p class="value">{{monitorSummary.startDate}}</p>
                            <p class="label">Started at {{monitorSummary.startTime}}</p>
                        </div>
                        <div>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <p class="value">{{monitorSummary.finishDate}}</p>
                            <p class="label">Finished at {{monitorSummary.finishTime}}</p>
                        </div>
                        <div>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <p class="value">{{monitorSummary.nTweet}}</p>
                            <p class="label">Tweet Count</p>
                        </div>
                        <div>
                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                            <p class="value">{{monitorSummary.nPositive}}</p>
                            <p class="label">Positive Tweet</p>
                        </div>
                        <div>
                            <i class="fa fa-meh-o" aria-hidden="true"></i>
                            <p class="value">{{monitorSummary.nNeutral}}</p>
                            <p class="label">Neutral Tweet</p>
                        </div>
                        <div>
                            <i class="fa fa-frown-o" aria-hidden="true"></i>
                            <p class="value">{{monitorSummary.nNegative}}</p>
                            <p class="label">Negative Tweet</p>
                        </div>
                    </div>
                    <div id="chart-box" v-if="monitor.chart.length > 1">
                        <canvas id="chart" ref="chart" height="400"></canvas>
                    </div>
                    <div id="loading-tweet" v-if="monitor.tweet.loading">
                        <i class="fa fa-fw fa-spinner fa-spin"></i>
                    </div>
                    <div id="tweet-box" v-else>
                        <div id="tweet-filter-box">
                            <div id="tweet-filter">
                                <template v-if="monitor.chart.length > 1">
                                    <div>
                                        <p>Show tweet(s) from</p>
                                        <input type="text" ref="filterSinceDate" v-model.trim="monitor.tweet.from" readonly/>
                                    </div>
                                    <div>
                                        <p>to</p>
                                        <input type="text" ref="filterUntilDate" v-model.trim="monitor.tweet.until" readonly/>
                                    </div>
                                </template>
                                <div>
                                    <p v-if="monitor.chart.length > 1">with these sentiment</p>
                                    <p v-else>Show tweet(s) with these sentiment</p>
                                    <a id="show-positive" :class="{selected: monitor.tweet.showPositive}" @click="toggleFilterSentiment('positive')"><i class="fa fa-fw fa-smile-o" aria-hidden="true"></i></a>
                                    <a id="show-neutral" :class="{selected: monitor.tweet.showNeutral}" @click="toggleFilterSentiment('neutral')"><i class="fa fa-fw fa-meh-o" aria-hidden="true"></i></a>
                                    <a id="show-negative" :class="{selected: monitor.tweet.showNegative}" @click="toggleFilterSentiment('negative')"><i class="fa fa-fw fa-frown-o" aria-hidden="true"></i></a>
                                </div>
                                <div>
                                    <p>order by</p>
                                    <a @click="toggleTweetOrder">{{monitor.tweet.latest ? 'latest' : 'newest'}}</a>
                                </div>
                            </div>
                            <div id="tweet-pagination">
                                <a @click="setTweetPage(1)" v-if="monitor.tweet.page > 2"><i class="fa fa-fw fa-angle-double-left" aria-hidden="true"></i></a>
                                <a @click="setTweetPage(monitor.tweet.page - 1)" v-if="monitor.tweet.page > 1"><i class="fa fa-fw fa-angle-left" aria-hidden="true"></i></a>
                                <p>{{monitor.tweet.page}}<span>/</span>{{monitor.tweet.maxPage}}</p>
                                <a @click="setTweetPage(monitor.tweet.page + 1)" v-if="monitor.tweet.page < monitor.tweet.maxPage"><i class="fa fa-fw fa-angle-right" aria-hidden="true"></i></a>
                                <a @click="setTweetPage(monitor.tweet.maxPage)" v-if="monitor.tweet.page < monitor.tweet.maxPage - 1"><i class="fa fa-fw fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div id="tweet-list">
                            <div class="tweet" v-for="tweet in monitor.tweet.tweets">
                                <div class="tweeter">
                                    <p class="name">{{tweet.name}}</p>
                                    <p class="username">@{{tweet.screenName}}</p>
                                    <p class="time">{{tweet.created}}</p>
                                    <p v-if="tweet.sentiment === 1" class="sentiment positive">Positive</p>
                                    <p v-else-if="tweet.sentiment === -1" class="sentiment negative">Negative</p>
                                    <p v-else class="sentiment neutral">Neutral</p>
                                </div>
                                <p class="content">{{tweet.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="page-empty" v-else>
                    <img src="/res/logo-gray-bg.svg">
                </div>
            </div>
        </div>
        <div id="overlay" :class="{loading: overlayLoading}" v-if="overlayVisible">
            <div id="dialog" v-if="dialog.visible" :class="{error: dialog.error}">
                <p id="header">{{dialog.title}}</p>
                <div id="content">
                    <p>{{dialog.message}}</p>
                    <input tabindex="1" ref="inputDialog" type="text" v-if="dialog.input.visible" :placeholder="dialog.input.placeholder" v-model.trim="dialog.input.value">
                </div>
                <div id="footer" :class="{loading: dialog.loading}">
                    <a tabindex="3" @click="dialog.subAction" @keyup.enter="dialog.subAction" v-if="dialog.subCaption !== ''">{{dialog.subCaption}}</a>
                    <a tabindex="2" id="main-button" ref="mainDialogButton" @click="dialog.mainAction" @keyup.enter="dialog.mainAction">{{dialog.mainCaption}}</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        axios.defaults.timeout = 20000;

        function digit(number) {
            return number.toString().split(/(?=(?:\d{3})+(?:\.|$))/g).join(',');
        }

        var globalChart, globalSincePicker, globalUntilPicker,
            app = new Vue({
                el: '#app',
                data: {
                    account: {
                        loading: false,
                        token: '',
                        secret: '',
                        name: '',
                        screenName: ''
                    },
                    listMonitor: [],
                    contentType: '',
                    newMonitor: {
                        monitorName: '',
                        allWords: '',
                        exactPhrase: '',
                        anyWords: '',
                        noneWords: '',
                        hashtags: '',
                        sinceDate: '',
                        untilDate: ''
                    },
                    monitor: {
                        data: {
                            id: 0,
                            name: '',
                            sinceDate: '',
                            untilDate: ''
                        },
                        fetch: {
                            fromTime: '',
                            untilTime: '',
                            error: false,
                            stopping: false,
                            stopped: false,
                            finished: false,
                            message: ''
                        },
                        summary: {
                            startTime: '',
                            finishTime: '',
                            nTweet: 0,
                            nPositive: 0,
                            nNegative: 0,
                            nNeutral: 0,
                        },
                        chart: [],
                        tweet: {
                            from: '',
                            until: '',
                            showPositive: true,
                            showNegative: true,
                            showNeutral: true,
                            latest: true,
                            loading: true,
                            page: 1,
                            maxPage: 1,
                            tweets: []
                        }
                    },
                    dialog: {
                        visible: false,
                        error: false,
                        loading: false,
                        title: '',
                        message: '',
                        input: {
                            visible: false,
                            placeholder: '',
                            value: ''
                        },
                        mainCaption: '',
                        subCaption: '',
                        mainAction: function () {},
                        subAction: function () {
                            app.closeDialog();
                        }
                    }
                },
                computed: {
                    loggedIn: function () {
                        return this.account.token !== '';
                    },
                    overlayVisible: function () {
                        return this.dialog.visible || this.account.loading || this.stillFetching;
                    },
                    overlayLoading: function () {
                        return this.account.loading || this.stillFetching;
                    },
                    contentTitle: function () {
                        if (this.contentType === '') return 'Sentiment Monitor';
                        else if (this.contentType === 'new') return 'New Monitor';
                        else return this.monitor.data.name;
                    },
                    stillFetching: function () {
                        return this.contentType === 'fetch' && !(this.monitor.fetch.finished || this.monitor.fetch.stopped || this.monitor.fetch.error);
                    },
                    fetchIcon: function () {
                        if (this.monitor.fetch.error) return 'fa-exclamation-triangle';
                        else if (this.monitor.fetch.stopped) return 'fa-pause-circle';
                        else if (this.monitor.fetch.finished) return 'fa-check';
                        else return 'fa-spinner fa-spin';
                    },
                    toggleFetchCaption: function () {
                        if (this.monitor.fetch.error) return 'Retry';
                        else if (this.monitor.fetch.stopped) return 'Continue';
                        else return 'Stop';
                    },
                    fetchProgress: function () {
                        var sinceDate = moment(this.monitor.data.sinceDate, 'YYYY-MM-DD'),
                            untilDate = moment(this.monitor.data.untilDate, 'YYYY-MM-DD'),
                            fromTime = moment(this.monitor.fetch.fromTime, 'YYYY-MM-DD HH:mm:ss'),
                            untilTime = moment(this.monitor.fetch.untilTime, 'YYYY-MM-DD HH:mm:ss'),
                            queryDuration = untilDate.diff(sinceDate),
                            fetchDuration = untilTime.diff(fromTime);

                        if (isNaN(queryDuration) || isNaN(fetchDuration)) return 100;
                        else return 100 - Math.round(fetchDuration / queryDuration * 100);
                    },
                    monitorSummary: function () {
                        var start = moment(this.monitor.summary.startTime, 'YYYY-MM-DD HH:mm:ss'),
                            finish = moment(this.monitor.summary.finishTime, 'YYYY-MM-DD HH:mm:ss');

                        return {
                            startDate: start.format('DD MMMM YYYY'),
                            startTime: start.format('HH:mm:ss'),
                            finishDate: finish.format('DD MMMM YYYY'),
                            finishTime: finish.format('HH:mm:ss'),
                            nTweet: digit(this.monitor.summary.nTweet),
                            nPositive: digit(this.monitor.summary.nPositive),
                            nNegative: digit(this.monitor.summary.nNegative),
                            nNeutral: digit(this.monitor.summary.nNeutral)
                        }
                    },
                    downloadLink: function () {
                        return '/api/monitor/' + this.monitor.data.id + '/xls';
                    },
                    downloadName: function () {
                        return this.monitor.data.name + '.xlsx';
                    }
                },
                watch: {
                    listMonitor: function () {
                        var listMonitor = this.$refs.listMonitor;
                        Ps.initialize(listMonitor);
                    },
                    contentType: function () {
                        var mainContent = this.$refs.mainContent;
                        mainContent.scrollTop = 0;
                        Ps.update(mainContent);
                    }
                },
                methods: {
                    resetDialog: function () {
                        app.dialog.error = false;
                        app.dialog.loading = false;
                        app.dialog.title = '';
                        app.dialog.message = '';
                        app.dialog.input.visible = false;
                        app.dialog.input.placeholder = '';
                        app.dialog.input.value = '';
                        app.dialog.mainCaption = '';
                        app.dialog.subCaption = '';
                        app.dialog.mainAction = function () {};
                        app.dialog.subAction = this.closeDialog;
                    },
                    closeDialog: function () {
                        app.resetDialog();
                        app.dialog.visible = false;
                    },
                    showDialogError: function (message) {
                        app.resetDialog();
                        app.dialog.visible = true;
                        app.dialog.error = true;
                        app.dialog.title = 'Error';
                        app.dialog.message = 'Error: ' + message;
                        app.dialog.mainCaption = 'OK';
                        app.dialog.mainAction = this.closeDialog;
                    },
                    login: function () {
                        this.account.loading = true;
                        axios.post('/api/login')
                            .then(function (response) {
                                var tempCredentials = response.data;
                                app.account.loading = false;
                                app.dialog.visible = true;
                                app.dialog.title = 'Sign in Twitter';
                                app.dialog.message = 'Insert authorization PIN from Twitter.';
                                app.dialog.input.visible = true;
                                app.dialog.input.placeholder = 'Authorization PIN';
                                app.dialog.mainCaption = 'OK';
                                app.dialog.subCaption = 'Cancel';
                                app.dialog.mainAction = function () {
                                    if (app.dialog.loading) return;

                                    app.dialog.loading = true;
                                    axios.post('/api/login/verify', {
                                        verificationCode: app.dialog.input.value,
                                        tempCredentials: tempCredentials
                                    }).then(function (response) {
                                        var loginResult = response.data;
                                        app.account.token = loginResult.token;
                                        app.account.secret = loginResult.secret;
                                        app.account.name = loginResult.name;
                                        app.account.screenName = loginResult.screenName;
                                        localStorage.setItem('account', JSON.stringify(loginResult));
                                        app.closeDialog();
                                    }).catch(function (error) {
                                        var message = error.response ? error.response.data : error.message;
                                        app.dialog.loading = false;
                                        app.showDialogError(message);
                                    });
                                };
                            }).catch(function (error) {
                                var message = error.response ? error.response.data : error.message;
                                app.account.loading = false;
                                app.showDialogError(message);
                            });
                    },
                    logout: function () {
                        this.dialog.visible = true;
                        this.dialog.title = 'Sign out Twitter';
                        this.dialog.message = 'Do you want to sign out from Twitter ?';
                        this.dialog.input.visible = false;
                        this.dialog.mainCaption = 'Yes';
                        this.dialog.subCaption = 'No';
                        this.dialog.mainAction = function () {
                            localStorage.removeItem('account');
                            app.account.token = '';
                            app.account.secret = '';
                            app.account.name = '';
                            app.account.screenName = '';
                            app.closeDialog();
                        };
                    },
                    loadListMonitor: function () {
                        axios.get('/api/monitor')
                            .then(function (response) {
                                app.listMonitor = response.data;
                            })
                            .catch(function (error) {
                                var message = error.response ? error.response.data : error.message;
                                app.showDialogError(message);
                            });
                    },
                    showNewMonitor: function () {
                        this.contentType = 'new';
                        this.newMonitor.monitorName = '';
                        this.newMonitor.allWords = '';
                        this.newMonitor.exactPhrase = '';
                        this.newMonitor.anyWords = '';
                        this.newMonitor.noneWords = '';
                        this.newMonitor.hashtags = '';
                        this.newMonitor.sinceDate = moment().subtract(9, 'd').format('YYYY-MM-DD');
                        this.newMonitor.untilDate = moment().format('YYYY-MM-DD');
                        this.monitor.data.id = 0;
                        this.monitor.data.name = '';
                        this.monitor.data.sinceDate = '';
                        this.monitor.data.untilDate = '';
                        this.$nextTick(function () {
                            this.$refs.txtMonitorName.focus();
                            var minDate = moment().subtract(9, 'd'),
                                maxDate = moment(),
                                sinceDatePicker = new Pikaday({
                                    field: app.$refs.txtSinceDate,
                                    format: 'YYYY-MM-DD',
                                    showDaysInNextAndPreviousMonths: true,
                                    setDefaultDate: true,
                                    defaultDate: minDate.toDate(),
                                    minDate: minDate.toDate(),
                                    maxDate: maxDate.clone().subtract(1, 'd').toDate(),
                                    onSelect: function () {
                                        app.newMonitor.sinceDate = this.getMoment().format('YYYY-MM-DD');
                                        untilDatePicker.setMinDate(this.getMoment().add(1, 'd').toDate());
                                    }
                                }),
                                untilDatePicker = new Pikaday({
                                    field: app.$refs.txtUntilDate,
                                    format: 'YYYY-MM-DD',
                                    showDaysInNextAndPreviousMonths: true,
                                    setDefaultDate: true,
                                    defaultDate: maxDate.toDate(),
                                    minDate: minDate.clone().add(1, 'd').toDate(),
                                    maxDate: maxDate.toDate(),
                                    onSelect: function () {
                                        app.newMonitor.untilDate = this.getMoment().format('YYYY-MM-DD');
                                        sinceDatePicker.setMaxDate(this.getMoment().subtract(1, 'd').toDate());
                                    }
                                });
                        });
                    },
                    closeNewMonitor: function () {
                        this.contentType = '';
                    },
                    saveNewMonitor: function () {
                        if (this.newMonitor.monitorName === '') {
                            this.showDialogError('Monitor name must not empty.');
                            return;
                        }

                        this.dialog.visible = true;
                        this.dialog.title = 'New Monitor';
                        this.dialog.message = 'Do you want to create new monitor ? After created you can\'t modify it.';
                        this.dialog.input.visible = false;
                        this.dialog.mainCaption = 'Yes';
                        this.dialog.subCaption = 'No';
                        this.dialog.mainAction = function () {
                            axios.post('/api/monitor', {
                                monitorName: app.newMonitor.monitorName,
                                allWords: app.newMonitor.allWords,
                                exactPhrase: app.newMonitor.exactPhrase,
                                anyWords: app.newMonitor.anyWords,
                                noneWords: app.newMonitor.noneWords,
                                hashtags: app.newMonitor.hashtags,
                                sinceDate: app.newMonitor.sinceDate,
                                untilDate: app.newMonitor.untilDate
                            }).then(function (response) {
                                var monitorID = response.data;
                                app.monitor.data.id = monitorID;
                                app.monitor.data.name = app.newMonitor.monitorName;
                                app.monitor.data.sinceDate = app.newMonitor.sinceDate;
                                app.monitor.data.untilDate = app.newMonitor.untilDate;
                                app.closeDialog();
                                app.loadListMonitor();
                                app.showFetchTweet();
                            }).catch(function (error) {
                                var message = error.response ? error.response.data : error.message;
                                app.dialog.loading = false;
                                app.showDialogError(message);
                            });
                        };
                    },
                    showFetchTweet: function () {
                        this.contentType = 'fetch';
                        this.monitor.fetch.fromTime = '';
                        this.monitor.fetch.untilTime = '';
                        this.monitor.fetch.error = false;
                        this.monitor.fetch.stopping = false;
                        this.monitor.fetch.stopped = false;
                        this.monitor.fetch.finished = false;
                        this.monitor.fetch.message = '';
                        this.fetchTweet();
                    },
                    fetchTweet: function () {
                        axios.get('/api/monitor/' + app.monitor.data.id + '/fetch')
                            .then(function (response) {
                                var result = response.data,
                                    fromTime = moment(result.fromTime, 'YYYY-MM-DD HH:mm:ss'),
                                    untilTime = moment(result.untilTime, 'YYYY-MM-DD HH:mm:ss'),
                                    strFromTime = fromTime.format('DD/MM/YYYY HH:mm:ss'),
                                    strUntilTime = untilTime.format('DD/MM/YYYY HH:mm:ss');

                                app.monitor.fetch.fromTime = result.fromTime;
                                app.monitor.fetch.untilTime = result.untilTime;
                                app.monitor.fetch.message = 'Retrieved <b>' + digit(result.tweetCount) + ' tweet(s)</b> ';
                                if (fromTime.isValid() && untilTime.isValid()) {
                                    app.monitor.fetch.message += 'from <b>' + strFromTime + '</b> to <b>' + strUntilTime + '</b>';
                                }

                                if (app.monitor.fetch.stopping) {
                                    app.monitor.fetch.stopped = true;
                                    app.monitor.fetch.stopping = false;
                                } else if (result.fetchCount > 0) setTimeout(app.fetchTweet(), 1000);
                                else app.monitor.fetch.finished = true;
                            })
                            .catch(function (error) {
                                var message = error.response ? error.response.data : error.message;
                                app.monitor.fetch.error = true;
                                app.monitor.fetch.message = 'Error while fetching tweets: ' + error;
                            });
                    },
                    toggleFetch: function () {
                        if (this.monitor.fetch.stopping) return;

                        if (this.monitor.fetch.error) {
                            this.monitor.fetch.error = false;
                            this.monitor.fetch.message = 'Retrieving tweet(s)';
                            this.fetchTweet();
                            return;
                        }

                        if (this.monitor.fetch.stopped) {
                            this.monitor.fetch.stopped = false;
                            this.fetchTweet();
                            return;
                        }

                        this.monitor.fetch.stopping = true;
                    },
                    showMonitor: function (id) {
                        if (this.contentType !== 'fetch' && id === this.monitor.data.id) return;

                        axios.get('/api/monitor/' + id)
                            .then(function (response) {
                                var result = response.data,
                                    start = moment(result.summary.startTime, 'YYYY-MM-DD HH:mm:ss').startOf('day'),
                                    finish = moment(result.summary.finishTime, 'YYYY-MM-DD HH:mm:ss').startOf('day');

                                app.monitor.data.id = result.data.id;
                                app.monitor.data.name = result.data.name;
                                app.monitor.data.sinceDate = result.data.sinceDate;
                                app.monitor.data.untilDate = result.data.untilDate;
                                app.monitor.summary.startTime = result.summary.startTime;
                                app.monitor.summary.finishTime = result.summary.finishTime;
                                app.monitor.summary.nTweet = result.summary.nTweet;
                                app.monitor.summary.nPositive = result.summary.nPositive;
                                app.monitor.summary.nNegative = result.summary.nNegative;
                                app.monitor.summary.nNeutral = result.summary.nNeutral;
                                app.monitor.chart = result.chart;
                                app.monitor.tweet.from = start.format('YYYY-MM-DD');
                                app.monitor.tweet.until = finish.format('YYYY-MM-DD');
                                app.monitor.tweet.showPositive = true;
                                app.monitor.tweet.showNegative = true;
                                app.monitor.tweet.showNeutral = true;
                                app.monitor.tweet.latest = true;
                                app.monitor.tweet.loading = true;
                                app.monitor.tweet.page = 1;
                                app.monitor.tweet.maxPage = 1;
                                app.monitor.tweet.tweets = [];
                                app.contentType = 'monitor';
                                setTimeout(app.getTweets, 300);

                                app.$nextTick(function () {
                                    app.generateChart();
                                    app.generateFilterPicker(start, finish);
                                });
                            })
                            .catch(function (error) {
                                var message = error.response ? error.response.data : error.message;
                                app.showDialogError(message);
                            });
                    },
                    closeMonitor: function () {
                        this.contentType = '';
                        this.monitor.data.id = 0;
                        this.monitor.data.name = '';
                        this.monitor.data.sinceDate = '';
                        this.monitor.data.untilDate = '';
                    },
                    generateChart: function () {
                        if (this.monitor.chart.length <= 1) return;

                        var label = [],
                            dataPositive = [],
                            dataNegative = [],
                            dataNeutral = [];

                        this.monitor.chart.forEach(function (item) {
                            label.push(moment(item.date, 'YYYY-MM-DD'));
                            dataPositive.push(item.nPositive);
                            dataNegative.push(item.nNegative);
                            dataNeutral.push(item.nNeutral);
                        });

                        if (globalChart != null && typeof globalChart.destroy === 'function') {
                            globalChart.destroy();
                        }

                        var ctx = this.$refs.chart;
                        globalChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: label,
                                datasets: [{
                                        label: 'Negative',
                                        borderColor: '#F44336',
                                        pointBackgroundColor: '#F44336',
                                        backgroundColor: 'rgba(250, 19, 0, 0.1)',
                                        data: dataNegative,
                                    },
                                    {
                                        label: 'Neutral',
                                        borderColor: '#FF9800',
                                        pointBackgroundColor: '#FF9800',
                                        backgroundColor: 'rgba(255, 150, 0, 0.1)',
                                        data: dataNeutral,
                                    }, {
                                        label: 'Positive',
                                        borderColor: '#8BC34A',
                                        pointBackgroundColor: '#8BC34A',
                                        backgroundColor: 'rgba(110, 200, 0, 0.1)',
                                        data: dataPositive,
                                    }
                                ]
                            },
                            options: {
                                maintainAspectRatio: false,
                                layout: {
                                    padding: {
                                        top: 24,
                                        left: 16,
                                        right: 32,
                                        bottom: 8
                                    }
                                },
                                hover: {
                                    intersect: false,
                                    animationDuration: 0
                                },
                                animation: {
                                    duration: 0
                                },
                                legend: {
                                    position: 'bottom',
                                    labels: {
                                        boxWidth: 20,
                                        fontColor: '#424242',
                                        usePointStyle: true
                                    }
                                },
                                tooltips: {
                                    intersect: false,
                                    cornerRadius: 0,
                                    xPadding: 8,
                                    yPadding: 8,
                                    bodySpacing: 8,
                                    titleMarginBottom: 16,
                                    displayColors: false,
                                    callbacks: {
                                        title: function (tooltipItems, data) {
                                            var index = tooltipItems[0].index,
                                                item = data.labels[index];

                                            return item.format('DD MMMM YYYY');
                                        },
                                        label: function (tooltipItem, data) {
                                            var item, result = [],
                                                index = tooltipItem.index,
                                                lenData = data.datasets.length;

                                            for (var i = lenData - 1; i >= 0; i--) {
                                                item = data.datasets[i];
                                                result.push(item.label + ' : ' + digit(item.data[index]));
                                            }

                                            return result;
                                        }
                                    }
                                },
                                scales: {
                                    yAxes: [{
                                        stacked: true,
                                        gridLines: {
                                            color: '#EEE',
                                            zeroLineColor: '#DDD'
                                        },
                                        ticks: {
                                            fontColor: '#424242'
                                        }
                                    }],
                                    xAxes: [{
                                        gridLines: {
                                            color: '#EEE',
                                            zeroLineColor: '#DDD'
                                        },
                                        ticks: {
                                            fontColor: '#424242',
                                            callback: function (value) {
                                                return value.format('DD MMM');
                                            }
                                        }
                                    }]
                                },
                                elements: {
                                    line: {
                                        tension: 0,
                                        borderWidth: 3
                                    },
                                    point: {
                                        radius: 3,
                                        borderWidth: 2,
                                        hoverRadius: 8
                                    }
                                }
                            }
                        });
                    },
                    generateFilterPicker: function (start, finish) {
                        if (globalSincePicker != null && typeof globalSincePicker.destroy === 'function') {
                            globalSincePicker.destroy();
                        }

                        if (globalUntilPicker != null && typeof globalUntilPicker.destroy === 'function') {
                            globalUntilPicker.destroy();
                        }

                        if (this.monitor.chart.length <= 1) return;

                        globalSincePicker = new Pikaday({
                            field: this.$refs.filterSinceDate,
                            format: 'YYYY-MM-DD',
                            showDaysInNextAndPreviousMonths: true,
                            setDefaultDate: true,
                            defaultDate: start.toDate(),
                            minDate: start.toDate(),
                            maxDate: finish.clone().subtract(1, 'd').toDate(),
                            onSelect: function () {
                                app.monitor.tweet.from = this.getMoment().format('YYYY-MM-DD');
                                globalUntilPicker.setMinDate(this.getMoment().add(1, 'd').toDate());
                                app.getTweets();
                            }
                        });

                        globalUntilPicker = new Pikaday({
                            field: this.$refs.filterUntilDate,
                            format: 'YYYY-MM-DD',
                            showDaysInNextAndPreviousMonths: true,
                            setDefaultDate: true,
                            defaultDate: finish.toDate(),
                            minDate: start.clone().add(1, 'd').toDate(),
                            maxDate: finish.toDate(),
                            onSelect: function () {
                                app.monitor.tweet.until = this.getMoment().format('YYYY-MM-DD');
                                globalSincePicker.setMaxDate(this.getMoment().subtract(1, 'd').toDate());
                                app.getTweets();
                            }
                        });
                    },
                    getTweets: function () {
                        var url = new Url('/api/monitor/' + this.monitor.data.id + '/tweet'),
                            page = this.monitor.tweet.page,
                            maxPage = this.monitor.tweet.maxPage;

                        url.query.page = page > maxPage ? maxPage : page;

                        if (this.monitor.tweet.from !== '') {
                            url.query.from = this.monitor.tweet.from;
                        }

                        if (this.monitor.tweet.until !== '') {
                            url.query.to = this.monitor.tweet.until;
                        }

                        if (this.monitor.tweet.showPositive) {
                            url.query.positive = '';
                        }

                        if (this.monitor.tweet.showNeutral) {
                            url.query.neutral = '';
                        }

                        if (this.monitor.tweet.showNegative) {
                            url.query.negative = '';
                        }

                        if (this.monitor.tweet.latest) {
                            url.query.latest = '';
                        }

                        axios.get(url)
                            .then(function (response) {
                                var result = response.data;
                                app.monitor.tweet.page = result.page;
                                app.monitor.tweet.maxPage = result.maxPage;
                                app.monitor.tweet.tweets = result.tweets;
                                app.monitor.tweet.loading = false;
                            })
                            .catch(function (error) {
                                var message = error.response ? error.response.data : error.message;
                                app.monitor.tweet.loading = false;
                                app.showDialogError(message);
                            });
                    },
                    toggleFilterSentiment: function (sentiment) {
                        if (sentiment === 'positive') {
                            this.monitor.tweet.showPositive = !this.monitor.tweet.showPositive;
                        } else if (sentiment === 'negative') {
                            this.monitor.tweet.showNegative = !this.monitor.tweet.showNegative;
                        } else {
                            this.monitor.tweet.showNeutral = !this.monitor.tweet.showNeutral;
                        }
                        this.monitor.tweet.page = 1;
                        this.getTweets();
                    },
                    toggleTweetOrder: function () {
                        this.monitor.tweet.latest = !this.monitor.tweet.latest;
                        this.monitor.tweet.page = 1;
                        this.getTweets();
                    },
                    setTweetPage: function (page) {
                        this.monitor.tweet.page = page;
                        this.getTweets();
                    },
                    deleteMonitor: function () {
                        this.dialog.visible = true;
                        this.dialog.title = 'Delete Monitor';
                        this.dialog.message = 'Do you want to delete monitor \'' + this.monitor.data.name + '\' ?';
                        this.dialog.input.visible = false;
                        this.dialog.mainCaption = 'Yes';
                        this.dialog.subCaption = 'No';
                        this.dialog.mainAction = function () {
                            axios.delete('/api/monitor/' + app.monitor.data.id)
                                .then(function (response) {
                                    app.closeMonitor();
                                    app.loadListMonitor();
                                    app.closeDialog();
                                })
                                .catch(function (error) {
                                    var message = error.response ? error.response.data : error.message;
                                    app.monitor.tweet.loading = false;
                                    app.showDialogError(message);
                                });
                        };
                    }
                },
                mounted: function () {
                    var listMonitor = this.$refs.listMonitor,
                        mainContent = this.$refs.mainContent;
                    Ps.initialize(listMonitor);
                    Ps.initialize(mainContent);
                }
            });

        var account = localStorage.getItem('account');
        if (account != null) {
            account = JSON.parse(account);
            axios.post('/api/login/register', {
                token: account.token,
                secret: account.secret
            }).then(function (response) {
                app.account.token = account.token;
                app.account.secret = account.secret;
                app.account.name = account.name;
                app.account.screenName = account.screenName;
            }).catch(function (error) {
                localStorage.removeItem('account');
            });
        }

        app.loadListMonitor();
    </script>
</body>

</html>